<!DOCTYPE html>

<html>

<head>
	<title>SY32</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style3.css')}}">
</head>

<body>
	<header><h1> Welcome {{ name }}! </h1></header>
	
	<div>
		</br>
		<form action="http://localhost:5000/view-profile" method="post">
			<button>View profile</button>
		</form>
		<form action="http://localhost:5000/add-project" method="post">
			<button>Add project</button>
		</form>
		<form action="http://localhost:5000/search-project" method="post">
			<button>Search project</button>
		</form>
		</br>
	</div>
	
	
	
</body>

</html>